<h1>Sandwich:<%=  %><br></h1>
<h3> <%= @sandwich.name %> </h3>

<h3>Ingredients</h3>
<% @sandwich.ingredients.each do |ingredient|  %>
  <li><%= ingredient.name %></li>
<% end %>

<%= button_to "Delete Sandwich", {}, { method: :delete } %>
<%= link_to "Edit", edit_sandwich_path(@sandwich) %>