<h1>Welcome to <%= @restaurant.name %> Restaurant!</h1>

<p><strong>Restaurant located in:</strong> <%= @restaurant.location %></p>



<%= form_tag('/restaurants/create_sandwich') do %>
<%= label_tag :name %>
<%= text_field_tag :name %>
  <%= label_tag 'Please select the ingredients for your sandwich below:' %><br>
  <%= collection_check_boxes(:ingredient, :id, @restaurant.ingredients, :id, :name) %><br>
  <%= submit_tag 'Create' %>
<% end %>
