<h1>Welcome to <%= @restaurant.name %> Restaurant!</h1>

<p><strong>Restaurant located in:</strong> <%= @restaurant.location %></p>


<%= form_tag('/restaurants/create_sandwich') do %>
<%= hidden_field :user, :user_id, value: @user.id %>
<%= label_tag :name %>
<%= text_field_tag :name %>
<br>
<br>
  <%= label_tag 'Please select the ingredients for your sandwich below:' %>
  <br>
  <br>
  <%= collection_check_boxes(:ingredient, :id, Ingredient.all, :id, :name) %>
  <br>
  <br>
  <%= submit_tag 'Create' %>
<% end %>